<nav class="sidebar">
  <header>
    <h1>Logo</h1>
  </header>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/agendamento">Agendamento</a></li>
    <li><a href="/perguntas">Perguntas</a></li>
    <li><a href="/aulas">Minhas aulas</a></li>
    <li><a href="/materiais">Materiais</a></li>
    <li><a href="/exercicios">Exercicios</a></li>
    <li><a href="/contato">Contato</a></li>
  </ul>
</nav>
