
 <main class="mainHome">
<div class="about">
    <img >
   <button class="aboutBtn btnAbout" id="btn1">Sobre mim...</button>
     <button class="certificadostBtn btnAbout" id="btn2">Certificados</button>
       <button class="skillsBtn btnAbout" id="btn3">Formação acadêmica</button>
    <div class="aboutContainer">
        <div class="aboutBox hidden" id="div1">
         <h1 >Sobre mim</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo enim cupiditate error obcaecati, 
        dolor ducimus sunt molestias consequatur eius debitis a
        
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, dolorem nemo iure, quis unde similique quidem reiciendis, soluta
         vitae impedit alias eveniet voluptas fuga ad et id ipsam excepturi recusandae. expedita deleniti nihil qui itaque odit odio, velit dolorem.</p>
         </div>
         <div class="Skills  hidden" id="div3">
        <h2>Formação acadêmica</h2>
         </div>
         <div class="Certificados hidden"id="div2">
         <h3>Certificados</h3>
         </div>
         </div>
         
<a href="/registro"><button class="Sub">Quero acessar o plano</button></a>
</div>
</main>